[submodule "spring-boot-constant"]
	path = spring-boot-constant
	url = https://github.com/sunMozi/spring-boot-constant.git
[submodule "spring-boot-demo"]
	path = spring-boot-demo
	url = https://github.com/sunMozi/spring-boot-demo.git
[submodule "spring-boot-mybatis"]
	path = spring-boot-mybatis
	url = https://github.com/sunMozi/spring-boot-mybatis.git
[submodule "spring-boot-payment"]
	path = spring-boot-payment
	url = https://github.com/sunMozi/spring-boot-payment.git
[submodule "spring-boot-tlias"]
	path = spring-boot-tlias
	url = https://github.com/sunMozi/spring-boot-tlias.git
[submodule "spring-boot-mybatis-plus"]
	path = spring-boot-mybatis-plus
	url = https://github.com/sunMozi/spring-boot-mybatis-plus.git
[submodule "spring-boot-dubbo"]
	path = spring-boot-dubbo
	url = https://github.com/sunMozi/spring-boot-dubbo.git
