# Java 编译文件
*.class
*.jar
*.war
*.ear

# IDEA 配置文件
/.idea/
/*.iml

# Maven / Gradle 缓存
/target/
/build/
!.mvn/wrapper/maven-wrapper.jar

# 日志文件
*.log

# 操作系统文件
.DS_Store
Thumbs.db

# 临时/备份文件
*~
*.swp

# 允许子模块内容被 Git 跟踪
# 不应忽略子模块路径，例如 spring-boot-constant/
